/* div {
    text-align: center;
}

table {
    width: 600px;
    

}

.alinearizq {
    text-align: left;
}

.alinearder {
    text-align: right;
}

.alinearcen {
    text-align: center;
}

.link_negro {
    color: black;
    font-size: 12px ;
}

.no_sub {
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold ;

}

.fondo_negro {
    background-color: black;
}

.boton_adidas {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 20px 20px 40px 20px;
    text-decoration: none;
    margin-top: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;

}

.espaciado {
    padding: 10px;
}

.lineainf {
    border-bottom: 1px solid black;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 2fr);
    border: 2px solid blue;
}

.grid div {
    border: 1px solid red;
}